.userphoto { 
 opacity: 0.6;
 transition: opacity 1s ease-in-out;
} 

.userphoto:hover { 
    opacity: 5.0;
    transition: opacity .55s ease-in-out;

}

h2 {
    text-transform: uppercase;
}

h3 {
    font-size: smaller;
    border-style: dotted;
    padding: 5px 5px;
}

h3:hover {
    color:red;
}

p {
    font-weight: bold;
}

.login-info {
    color: white;
}
.heart  {
  max-width: 30px;
  background-color: white;
  position: relative;
}